.person {
  display: flex;
  /* align-items: center; */
  gap: 30px;
  padding: 20px;
}

.people-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  word-wrap: normal;
}
.person-img {
  border-radius: 8px;
  width: 200px;
}
.person-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.person-des {
}
.person-phone {
}
.person-mail {
  word-break: break-all;
}
