.hero-img {
  position: absolute;
  top: 0;
}

.hero-slide {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero-h1 {
  position: absolute;
  top: 50vh;
  margin-left: 8rem;
  background-color: #eef0f2;
  opacity: 0.8;
  padding: 20px 30px;
}

.hero-h1 > h3 {
}
.hero-h1 > span {
  font-size: 1.5rem;
  font-weight: 500;
}
.hero-h1 > h1 {
  font-size: 6rem;
  font-weight: 500;
}
