.contact-us {
  margin: 70px auto;
  width: 100vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 40vw; */
  /* background-color: orange; */
  padding: 40px 20px;
}

.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  margin-top: 40px;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  color: var(--dark);
  background: var(--white);
  padding: 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  text-align: center;
  /* border: 1px solid transparent; */
  transition: var(--transition);
  box-shadow: 0 4px 8px #cbcdcf;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.contact__option:hover {
  /* background: linear-gradient(45deg, #1D2043, #285880); */
  color: white;
  background: linear-gradient(45deg, var(--light), var(--dark));
  border-color: var(--color-primary-variant);
  transform: skewY(-2deg);
  transition: 0.3s ease-in-out;
}

.contact__option-icon {
  font-size: 1.5rem;
  font-weight: 700;
  /* margin-bottom: 0.5rem; */
}

.contact__option h5 {
  font-size: 1rem;
}
.contact__option p {
  /* margin-top: 0.7rem; */
  display: inline-block;
  font-size: 1rem;
  /* color: var(--dark); */
  font-weight: 700;
  text-decoration: none;
}

.contact-a {
  text-decoration: none;
}
.contact-a:hover {
  color: var(--white);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
}

input,
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: white;
  /* border: 2px solid var(--light); */
  border: none;
  /* outline: 1px solid var(--light); */
  resize: none;
  color: var(--dark);
  /* box-shadow: 0 4px 8px #cbcdcf; */
}
input:focus,
textarea:focus {
  outline: 1px solid var(--light);
}

.btn-primary {
  padding: 20px;
  border: none;
  background-color: var(--dark);
  border-radius: 8px;
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
}

.btn-success {
  padding: 20px;
  border: none;
  border-radius: 8px;
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--light);
}

.contact-us > h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark);
  bottom: 10px;
}

.contact-us > h2 {
  font-weight: 500;
  color: var(--light);
  font-size: 2.5rem;
}

.message-sent {
  width: 400px;
  height: 100px;
  background-color: orange;
  color: #cbcdcf;
  display: block;
}

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .contact__options {
    margin: 0 4rem;
  }
  form {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 600px) {
  .contact__container {
    width: var(--container-width-sm);
    justify-content: center;
  }
  .contact-us > h2 {
    font-size: 1.5rem;
  }
}
