.connect-container {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* width: 60vw; */
  max-width: 1920px;
}

.connect-header {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1d784d;
}
.connect-heading {
  color: var(--light);
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

.connect-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.rect {
  /* width: 400px; */
  height: 600px;
  /* background-color: #1d784d; */
  border-radius: 10px;
  box-shadow: 0 0 8px #cbcdcf;
}

.custom-iframe {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .connect-social {
    flex-direction: column;
  }
}
