.hs3 {
  margin: 60px 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  margin: 100px auto;
}

.hs3-header {
  font-weight: 700;
  color: #1d784d;
  margin-top: 100px;
  font-size: 1.2rem;
}
.hs3-heading {
  color: #65bc51;
  font-weight: 500;
  font-size: 2.5rem;
}

.news-slider {
  position: relative;
  width: 80%;
  margin: 40px auto;
}

.news-slide {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.prev-btn,
.next-btn {
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: #333; */

  color: var(--dark);

  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
  /* border-radius: 50%; */
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.news-img {
  position: relative;
  box-shadow: 4px 4px 8px #bfbfbf;
  margin-right: -90px;
  width: 600px;
}

.news-body {
  position: absolute;
  width: 350px;
  left: 160px;
  top: 380px;
  background-color: var(--white);
  /* background-color: orange; */
  box-shadow: -4px 0px 8px #cbcdcf;
  padding: 30px;
  margin-top: -260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-body > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark);
}

.news-body > h5 {
  font-size: 0.8rem;
  color: var(--light);
  margin-left: -200px;
}

.news-body > p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .hs3-heading {
    font-size: 1.5rem;
  }

  .news-img {
    width: 300px;
  }
  .news-slider {
    width: 100vw;
  }
  .news-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  .news-img {
    margin: 0;
    box-shadow: 0 -4px 8px #cbcdcf;
    width: 60vw;
  }
  .news-body {
    position: relative;
    margin-top: 0;
    left: auto;
    top: auto;
    width: 60vw;
    box-shadow: 0 4px 8px #cbcdcf;
  }
  .news-body > h5 {
    margin-left: -100px;
  }
  .news-body > h2 {
    font-size: 0.9rem;
  }
  .news-body > p {
    font-size: 0.8rem;
  }
}
