.hs1 {
  margin-top: 120px;
  /* height: 40vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
  gap: 10px;
}

.hs2-header-g {
  font-size: 1.2rem;
}

.hs1--sec1 {
  padding: 30px;
  /* background-color: orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
  gap: 50px;
}

.hs1--sec1-left {
  flex: 2;
  color: var(--dark);
}
.hs1--sec1-right {
  flex: 4;
}
.hs1--sec2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 50px;
  /* height: 500px; */
  width: 100%;
}
.hs1--sec2-wrapper {
  display: flex;
  gap: 20px;
  width: 90vw;
}

.hs1--sec2-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  /* box-shadow: 4px 4px 8px #8a8a8a; */
  box-shadow: 0 4px 8px #cbcdcf;
  padding: 20px;
  width: 400px;
  transition: background-color 0.3s ease;
}

.hs1--sec2-cards h3 {
  color: var(--light);
  /* color: orange; */
}

.card-icon {
  color: var(--dark);
}
.hs1--sec2-cards:hover {
  background-color: #1d784d;
  transition-duration: 0.3s;
  color: white;
}
.hs1--sec2-cards:hover .card-icon {
  color: white;
}

@media only screen and (max-width: 600px) {
  .hs1 {
    margin-top: 30px;
  }
  .hs1--sec1 {
    flex-direction: column;
    width: 100vw;
    text-align: center;
    gap: 20px;
  }
  .hs1--sec1-left {
    font-size: 0.8rem;
  }
  .hs1--sec1-right {
  }

  .hs1--sec2-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hs1--sec2-cards {
    width: 300px;
  }
  /* .hs1--sec2-cards:hover {
    background-color: #1d784d;
  } */
}
