nav {
}

.nav--container {
}

.nav--wrapper {
  background-color: #fff;
  /* height: 60px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.nav--top {
  background-color: #1d784d;
}

.nav--top-wrapper {
  height: 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.nav--cta {
  display: flex;
  padding: 0 10px;
  gap: 10px;
}

.nav--ctaflex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav--ctas {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}

.nav--ctas:hover {
  color: tomato;
}

.nav--mail {
  text-decoration: none;
}

.nav--social {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  font-size: 0.8rem;
}

.nav--social-link {
}

.nav--social-link:hover {
  color: tomato;
}

.nav--center {
  width: 50vw;
  margin: 0 auto;
}

.logo {
  width: 100%;
}

.nav--bottom {
  margin: -2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* position: fixed; */
}

.nav--left {
  flex: 1;
}

.nav--menub {
}

.nav--menuul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.nav--menu {
  list-style: none;
  font-weight: 600;
}

.nav--links {
  color: #65bc51;
  text-decoration: none;
}

.nav--link-hr {
  border: 1px solid #65bc51;
}
