.inner-container {
  /* margin: 60px; */
  padding: 40px;
  /* background-image: url(/books.jpg); */
  background-color: var(--light);
}
.inner-wrapper {
  border-radius: 8px;
  padding: 40px;
  /* box-shadow: 0 4px 8px #cbcdcf; */
  /* background-image: url("../assets/hero/front.jpg"); */
  background-color: var(--white);
  background-color: var(--light);
  background-size: cover;
}

.inner-top-cover {
  background-color: orange;
  width: 100%;
  height: 100px;
}

.inner-top {
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--white);
  box-shadow: 0 0 8px #cbcdcf;
  color: var(--dark);

  /* dimag ghumne ke baad */
  /* position: fixed; */
  /* width: 90%; */
  /* left: 100px;
  right: 100px;
  z-index: 99; */
}
.inner-bottom {
  margin: 30px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.inner-left {
  flex: 1;
  /* background-color: salmon; */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 8px #cbcdcf;
  background-color: var(--white);
  font-size: 1.1rem;
  /* dimag ghumne ke baad */
  /* position: fixed;
  left: 80px;
  top: 320px; */
  /* bottom: 50px; */
}

.inner-leftItems {
  padding: 20px;
  cursor: pointer;
  color: var(--dark);
  font-weight: 500;
  /* margin: 10px; */
}

.inner-leftItems a {
  text-decoration: none;
  color: var(--dark);
}

.inner-right {
  flex: 5;
  /* background-color: sandybrown; */
  padding: 30px;
  background-color: var(--white);
  border-radius: 8px;
  font-size: 1.1rem;
  box-shadow: 0 0 8px #cbcdcf;
  /* dimag ghumne ke baad */
  /* 
  position: relative;
  margin-left: 20%;

  top: 120px; */
}

.inner-content {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  font-weight: 400;
}

.innerContent-heading {
  padding: 20px 0;
  margin-top: 20px;
  color: var(--dark);
}

/* .back-to-top {
  position: fixed;
  bottom: 60px;
  right: 60px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.back-to-top {
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.back-to-top.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top.show {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .inner-container {
    margin: 5px;
    padding: 10px;
  }

  .inner-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inner-top {
    width: 80vw;
    padding: 10px;
    margin: 10px;
  }
  .inner-bottom {
    flex-direction: column;
    align-items: center;
  }
  .inner-left {
    display: flex;
    gap: 0px;
    padding: 0px;
    flex-wrap: wrap;
    width: 300px;
  }
  .inner-right {
    width: 22rem;
  }
  .inner-leftItems {
    font-size: 1rem;
    padding: 10px;
  }

  .inner-content {
    font-size: 1rem;
  }

  .inner-rightItems {
  }
  .innerContent-heading {
    font-size: 40px;
  }
}
