.useful-container {
  position: fixed;
  top: 50vh;
  left: -30px;
}

.useful-heading {
  padding: 10px 20px;
  background-color: var(--dark);
  color: var(--white);
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 8px;
}

.useful-links {
  position: absolute;
  left: 60px;
  top: -120px;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  background-color: var(--light);
  gap: 20px;
  width: 20rem;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  margin-left: -30px;
  /* display: none; */
  cursor: pointer;
}

.second-div {
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #ccc; */
  padding: 10px;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.useful-links > a {
  text-decoration: none;
  padding: 10px;
  color: var(--white);
}

.useful-heading:hover .useful-links {
  display: flex;
}

.rotate {
  transform: rotate(270deg);
}

@media only screen and (max-width: 600px) {
  .useful-container {
    left: -50px;
  }

  .second-div {
    left: 50%;
  }

  .useful-heading {
    font-size: 1rem;
  }

  .useful-links {
    width: 70vw;
    font-size: 1.1rem;
  }
}
